h1{font-family: Verdana, Geneva, Tahoma, sans-serif;}
.tanggal{color: rgb(41, 92, 219) ;}
body{background-color: rgb(234, 170, 74) ;}
body{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
h1 { color: rgb(24, 5, 150);}
.nama {color: darkred ;}
.agama {color: darkviolet;}
.hobi {color: indigo;}
.alamat {color: brown;}
.no {color: crimson;}
.gender {color:darkgreen;}
.foto {color: darkorchid;}
.pria {color: aqua;}
.wanita {color: pink;}
